/* Scrollboxes */

.scrollBox {
    font-size: small;
    overflow-y: scroll;
    height: 9lh;
}

/* Headings */

.stamm-dark {
    background-color: rgb(19, 132, 177);
}

.stamm-light {
    background-color: lightcyan;
}

.admin-dark {
    background-color: brown;
}

.admin-light {
    background-color: lightcoral;
}

.heading {
    border-radius: 25px 0 0 0;
    padding: 10px 0 5px 10px;
}

/* Login */

.login-button {
    width: 100%;
    margin: 7px 0 0 0;
    max-width: 700px;
}

/* to make the backdrop of the loading modal transparent */
.transparent-backdrop {
    background-color: transparent !important;
    border: 0px !important;
}

/* created for dropdown menu in the small and xs view  */
.startPadding10 {
    padding-inline-start: 10px;
}

/* to correct that the input labels are to close to the paragraph above */

.labelPadding {
    padding-top: 8px;
}