node_modules
.env
server/ecmascript
server/public
client/types
client/utils/openapi.json
client/utils/openapi.ts
azure.notes.md
docker.md
eslint.config.js
notes.txt
google-chrome-stable_current_amd64.deb
.package-lock.json