.scrollBoxXS {
    font-size: small;
    overflow-y: scroll;
    border: 1px solid lightgrey;
}

.scrollBox {
    font-size: small;
    overflow-y: scroll;
    border: 1px solid lightgrey;
    height: 9lh;
}

