.stammForm-dark {
    background-color: rgb(19, 132, 177);
}

.stammForm-light {
    background-color: lightcyan;
}

.resForm-dark {
    background-color: brown;
}

.resForm-light {
    background-color: lightcoral;
}

.heading {
    border-radius: 25px 0 0 0;
    padding: 10px 0 5px 10px;
}